<footer th:fragment="footer_lapzone">
    <div class="footer_container">
     <div class="logo_footer">
         
    <p>Theo Dõi Chúng Tôi</p><br><br>
    <img src="assets/footera_notice_img.svg">
     </div>
          <div class="service_footer_1">
             <nav>
                <ul>
                    <li><a>HỖ TRỢ KHÁCH HÀNG &#9776;</a></li>
                    <li><a>Hỏi Đáp</a></li>
                    <li><a>Thông Tin Thanh Toán</a></li>
                    <li><a>Góp ý Khiếu Nại</a></li>
                    <li><a>Tuyển Dụng</a></li>
                    <li><a>Vận Chuyển</a></li>
                </ul>
             </nav>
         </div>
         <div class="service_footer_1">
             <nav>
                <ul>
                    <li><a>CHÍNH SÁCH  &#9776;</a></li>
                    <li><a>Chính sách bảo mật thông tin</a></li>
                    <li><a>Chính sách bảo trì, bảo hành</a></li>
                    <li><a>Chính sách thanh toán</a></li>
                    <li><a>Chính sách vận chuyển và giao nhận</a></li>
                    <li><a>Chính sách đổi trả và hoàn tiền</a></li>
                    <li><a>Chính sách kiểm hàng</a></li>
                    <li><a>Chính sách xử lí khiếu nại</a></li>
                </ul>
             </nav>
         </div>
         <div class="service_footer_1">
             <nav>
                <ul><li><a>DANH MỤC SẢN PHẨM &#9776;</a></li>
                    <li><a>Laptop MSI</a></li>
                    <li><a>Microsoft</a></li>
                    <li><a>Razer</a></li>
                    <li><a>Latop Asus</a></li>
                    <li><a>Macbook</a></li>
                </ul>
             </nav>
         </div>
         <div class="service_footer_1">
             <nav>
                <ul>
                    <li><a></a></li>
                    <li><a>Laptop Acer</a></li>
                    <li><a>Laptop Lenovo</a></li>
                    <li><a>Laptop Thinkpad</a></li>
                    <li><a>Laptop HP</a></li>
                    <li><a>Laptop Dell</a></li>
                </ul>
             </nav>
         </div>
</div>
      <br><br><br><br><br><br><br>
      <div class="desc_store_footer">
                      <p>Công ty TNHH Công Nghệ Số lapzone </p>
      <p>Địa chỉ đăng kí giấy phép: 2C Bạch Đằng, P. Chương Dương, Q. Hoàn Kiếm, TP. Hà Nội</p>
                  <p>MST 0109900432 do Sở KH và ĐT TP Hà Nội cấp ngày 28/01/2022</p>
<p>Địa chỉ Showroom Kinh Doanh Mua Hàng Tại: Số 3 Ngõ 117 Thái Hà, P. Trung Liệt, Q. Đống Đa, TP. Hà Nội</p>
                               <p>Hotline: 0328775956 </p>
                         <p>Mail:nguyendung28022005@gmail.com</p>
           </pre>
           </div>
  </footer>